@media only screen and (min-width: 992px) {
    #video-grid {
        max-width: 1025px;
    }
}

@media only screen and (max-width: 991px) {
    #video-grid {
        max-width: 700px;
    }
}

@media only screen and (max-width: 767px) {
    #video-grid {
        max-width: 375px;
    }
}

#full-height {
    background-color: rgb(215, 215, 215);
}

.video-player {
    max-width: 180vh
}

#comment-list {
    height: 90%;
}

#drop-zone,
#upload-video {
    height: 420px;
    width: 420px;
}

#drop-spinner {
    width: 5rem;
    height: 5rem;
}

#tabs {
    height: 65px;
}

.tab-button {
    margin-top: 10px;
    width: 48%;
    height: 58px;
}

#video-delete-button {
    top: 18px;
    right: 25px;
}

#comment-edit-button {
    width: 2.5rem;
    right: 9px;
}

#edit-comment-text {
    min-height: 100px;
}

#footer {
    height: 70px;
}

#profile-icon {
    width: 250px;
}

#icon-form-emoticon {
    height: 200px;
    width: 200px;
    font-size: 90px;
    padding-bottom: 2cqh;
}

#icon-form-colour {
    height: 50px;
    width: 50px;
    top: -7px;
    right: -10px;
}

.user-icon {
    height: 65px;
    width: 65px;
    font-size: 25px;
}